DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=inventory_management_system
DB_PORT=3306
JWT_SECRET=your_jwt_secret
PORT=5001
SMTP_PORT=587
SMTP_HOST=smtp.gmail.com
SMTP_SECURE=false
SMTP_USER=your_gmail_address@gmail.com
SMTP_FROM=your_gmail_address@gmail.com
SMTP_PASS=your_app_password
COMPANY_NAME=Stockify Inventory Management System